<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Profile</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="../public/default.css">
</head>

<body>
    <%- include('partial/header', {user: user}) %>

    <h1>Admin Profile</h1>
        
    <div>
    <p><strong>Username:</strong> <%= user.username %></p>
    <p><strong>Email:</strong> <%= user.email %></p>
    </div>

    <br>
    
    <a href="/admin">Manage Movies</a>
    &nbsp;|&nbsp;
    <a href="/edit-profile">Edit Profile</a>

    <br><br>
    
</body>
</html>