<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= friend.username %> - Watchlist</title>
  <link rel="stylesheet" href="../public/default.css">
</head>
<body>
  <main>
    <h1><%= friend.username %>'s Watchlist</h1>
    <p>(mock page) 100% stubbed, implement list by watching /list route if needed.</p>
    <a href="/friends"><button>Back to Friends</button></a>
  </main>
</body>
</html>
