<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="../public/default.css">
</head>

<body>

    <section>
        <div class="movie-card">

            <img src="movie.jpg">
            <div class="movie-info">
                <h2>Movie Title</h2>
                <div>Genre</div>
                <p>Rating: 4 / 5</p>

                <p class="movie-overview">
                    Movie overview text placeholder that will automatically truncate after three lines if it becomes too
                    long.
                </p>

                <div class="button-row">
                    <a href="/watchlist"><button>Add to Watchlist</button></a>
                    <a href="/watched"><button>Mark as Watched</button></a>
                </div>

            </div>
        </div>
    </section>
</body>

</html>