<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="default.css">
</head>

<body>
  <a href="/index">Home Page</a>
  <h1>Login</h1>

  <%- include('partial/messages', { errors: errors, success: success }) %>

  <% if (loginError) { %>
    <div style="color: red; border: 1px solid red; padding: 8px 12px; margin-bottom: 12px; border-radius: 4px;">
    <p style="margin: 0;">
        Account does not exist or incorrect password.<br>
        Click <a href="/register">here</a> to create a new account.
    </p>
    </div>
  <% } %>

  <form action="/login" method="POST">
    <label>Username or Email: </label>
    <input type="text" name="identifier" value="<%= typeof identifier !== 'undefined' ? identifier : '' %>" placeholder="Enter Username or Email" required>
    <br>

    <label>Password:</label>
    <input type="password" name="password" placeholder="Enter Password" required>
    <br>

    <button type="submit">Login</button>
  </form>
  <br>

  <p>Don't have an account? <a href="/register">Register here</a></p>
</body>

</html>