<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="default.css">
</head>

<body>
  <a href="/index">Home Page</a>
  <h1>Login</h1>

  <%- include('partial/messages', { errors: errors, success: success }) %>

  <% if (typeof accNotFound !== 'undefined' && accNotFound) { %>
    <p style="color: red;">
      Could not find account. 
      Try a different one or <a href="/register">create a new account</a>.
    </p>
  <% } %>

  <% if (typeof wrongPass !== 'undefined' && wrongPass) { %>
    <p style="color: red;">
      Incorrect password. Please try again.
      If you forgot your password, please contact admin or <a href="/register">create a new account</a>.
    </p>
  <% } %>

  <form action="/login" method="POST">
    <label>Username or Email: </label>
    <input type="text" name="identifier" value="<%= typeof identifier !== 'undefined' ? identifier : '' %>" placeholder="Enter Username or Email" required>
    <br>

    <label>Password:</label>
    <input type="password" name="password" placeholder="Enter Password" required>
    <br>

    <button type="submit">Login</button>
  </form>
  <br>

  <p>Don't have an account? <a href="/register">Register here</a></p>
</body>

</html>