<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="../public/default.css">
</head>

<body>
    <section>
        <div class="movie-detail">

            <img src="movie.jpg">

            <div>
                <h2>Movie Title</h2>
                <p>Year Published - Duration</p>

                <div class="movie-meta">
                    <div>Genre: Genre</div>
                    <div>Average Rating: 0 / 5</div>
                </div>

                <p>Overview text placeholder.</p>

                <p><strong>Directed By</strong> Directors</p>

                <p><strong>Cast</strong> Cast, Cast</p>

                <div class="button-row">
                    <a href="/watchlist"><button>Add to Watchlist</button></a>
                    <a href="/watched"><button>Mark as Watched</button></a>
                </div>

            </div>

        </div>

    </section>

    <section>
        <div class="review-header">
            <a href="/review">200 Reviews</a>
            <a href="/review"><button>Add Review</button></a>
        </div>
    </section>

</body>

</html>